@model SuperBowlWeb.Models.Jeu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EquipeAId" class="control-label"></label>
                <select asp-for="EquipeAId" class="form-control" asp-items="ViewBag.EquipeAId"></select>
                <span asp-validation-for="EquipeAId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipeBId" class="control-label"></label>
                <select asp-for="EquipeBId" class="form-control" asp-items="ViewBag.EquipeBId"></select>
                <span asp-validation-for="EquipeBId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRencontre" class="control-label"></label>
                <input asp-for="DateRencontre" class="form-control" />
                <span asp-validation-for="DateRencontre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureDebut" class="control-label"></label>
                <input asp-for="HeureDebut" class="form-control" />
                <span asp-validation-for="HeureDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureFin" class="control-label"></label>
                <input asp-for="HeureFin" class="form-control" />
                <span asp-validation-for="HeureFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreEquipeA" class="control-label"></label>
                <input asp-for="ScoreEquipeA" class="form-control" />
                <span asp-validation-for="ScoreEquipeA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreEquipeB" class="control-label"></label>
                <input asp-for="ScoreEquipeB" class="form-control" />
                <span asp-validation-for="ScoreEquipeB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipeGagnante" class="control-label"></label>
                <input asp-for="EquipeGagnante" class="form-control" />
                <span asp-validation-for="EquipeGagnante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentaires" class="control-label"></label>
                <input asp-for="Commentaires" class="form-control" />
                <span asp-validation-for="Commentaires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
